*{
    margin:0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height:100vh;
    background-image: url(images/work2.webp);
    background-size:cover ;
    background-position:center;
}
.container{
    padding: 10px 10%;
}
nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        position:fixed;
        z-index: 60;
        /* background-color: #0066ff; */
        /* width: 100%; */
        /* margin-left: -170px; */
  
        /* background:blue; */
        /* color:#0066ff */
}
/* .logo{
     width: 300px;
height: 30px;
} */
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    position: relative ;
    /* border: 1px solid white; */
    /* background-color:#0066ff; */
    border-radius: 10px;
   
    
}
nav ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        background:  #0066ff;
         position: absolute;
        left: 0;
        bottom: -6px; 
        transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
        margin-top: 10%;
        font-size: 30px;

      
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    font-weight:100;
}
.header-text h1 span{
    color:    #0066ff ;

}
                /* ... About */
#about{
    padding: 80px 0;
    color: #e7f4fc;
    margin-top: -350px;
}
.row{
    display: flex;
    justify-content: space-between;
        flex-wrap: wrap;
}   
.about-col-1{
    flex-basis:35%
}

.about-col-1 img{
   width: 90%;
   border-radius: 15px;
   /* height: 500px; */
   
}
.about-col-2{
    flex-basis:60%
}
.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: #0066ff;
    font-weight:100;

}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0066ff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
        width: 50%;
}
.tab-contents ul li{
    list-style: none;
   margin: 10px 0;    
}
.tab-contents ul li span{
    color: #0066ff ;
    font-size: 14px;
}
.tab-contents{
    display: none ;
}
.tab-contents.active-tab{
    display: block;
}

/* servicces */
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50PX;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 10px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s ;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500; 
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background:  #0066ff;
    transform:translateY(-10px) ;
}

/* portolio  */
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-gap:40px;
    margin-top:50PX;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border: 3px solid green;
    text-align: center;

}
.work img{
    width:100%;
    border-radius: 10px;
    display: block;
 transition: transform 0.5s;
}  
/* .layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgb(0,0,0,0.6), #0066ff);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center ;
    font-size: 14px;
    transition: height 0.5s;
    z-index: 10px;
} */
/* .swiper-slide img{
    width: 500px;
    height: 500px;
} */
.layer h1{
    font-weight: 500;
    margin-bottom: 20px;
}
.project-icons a{
 margin-top: 10px;
 color: #0066ff;
 text-decoration: none;
 font-size: 18px;
 line-height: 60px;
 background: #fff;
 width: 60px;
 height: 60px;
border-radius: 50%;
text-align: center ;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
  height:100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border:1px solid  #0066ff;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background:  #0066ff;
}
.tech {
    background-color:#0066ff;
}

/* contact */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px; 
}
.contact-left  p i{
    color:  #0066ff;
    margin-right: 20px;
    font-size: 25px;
}
.social-icons{
     margin-top: 30px;        
}
.social-icons a{
    text-decoration: none ;
    font-size: 30px;
    margin-right: 15px;
    color:#ababab;
    display: inline-block;
    transition: transform(00.5s);
}
.social-icons a:hover{
   color:  #0066ff;
   transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #0066ff;
}
.contact-right form{
   width: 100%;
}
form input, form textarea{
        width: 100%;
        border: 0;
        outline: none;
        background: #262626;
        padding: 15px;
        margin: 15px 0;
        font-size: 18px;
        border-radius: 6px;
        color: #fff;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color:  red;
}
.calendar {
    font-family: Helvetica, arial;
    text-align: center;
    color:white;
}

/* small scrrens */
 nav .fa-solid{
    display: none;
 }


 @media only screen and (max-width:850px ){
    .header-text h1{
        font-size: 50px;    
        margin-top: 10%; 
    }
    .header{
        margin-top: 30px;
    }
 }
 @media only screen and (max-width:750px ){
    .header{
        margin-top: -30px;
    }
    .header-text h1{
        font-size: 45px;     
    }
    #about{
        margin-bottom: 50px;
    }
 }
 @media only screen and (max-width:650px ){
    .header{
        margin-top: -30px;
    }
    .header-text h1{
        font-size: 40px; 
    }
 }

    @media only screen and (max-width:700px ){
        #header{
            background-image: url(image/raju.jpg);
        }
        .header-text{
            margin-top: 30%;
            font-size: 16px;
        }
        .header-text h1{
            font-size: 40px;     
        }
        nav{
            background-color: black;
            /* width:100%; */
        }
        nav .fa-solid{
            display: block;
            font-size: 25px;
        }
        nav ul{
            background:  #0066ff;
            position: fixed;
            top:0;
            right:-200px ;
            width: 200px;
            height:60vh;
            padding-top: 50px;
            z-index: 2;
            transition: right 0.5s;
        }
        nav ul li{
            display: block;
            margin: 25px;
        }
        nav ul .fa-solid{
            position: absolute;
            top:25px;
            left: 25px;
            cursor: pointer;
        }
        .sub-title{
            font-size: 40px;
        }
        #about{
            margin-bottom:50px;
        }
        .about-col-1, .about-col-2{
            flex-basis: 100%;
        }
        .about-col-1{
            margin-bottom: 30px;
        }
        .about-col-2{
            font-size: 14px;
        }
        .tab-links{
            font-size: 16px;
            margin-right: 20px;
        }
        .contact-left,.contact-right{
                 flex-basis: 100%;   
                 font-size: 16px;
        }
        .copyright{
            font-size: 14px;
        }
    }
 #msg{
    color: #61b752;
    margin-top: -3 0px;
    display: block;
 }


 /* New adding */
 #experience-1{
    font-size: 18px;
    font-weight: bold;
}
#experience-2{
    color: white;
    font-size: 16px;
}
#contact-1{
    padding: 10px;
  }
.project-icons{
    display: flex;
    gap:20px;
    margin-top: 30px;
}

.resume-btn{
    display: inline-block;
    background:#0066ff;
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

/* .work{
    display: flex;
    gap:20px
} */
.layer h1{
    margin-top: 15px;
}
.layer span{
    font-size: 20px;
}
.layer p{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
}
.project-icons{
    /* margin-left: 130px; */
    /* margin-top: -10px; */
    justify-content: center;
}
/* git hub */
#git-satus{
    display: flex;
    margin: auto;
    justify-content: center;
}
#git-calender img{
    width: 100%;
}
#git-graph{
     width: 100%;
}
#stats{
    width: 100%;
}

@media (min-width: 400px) and (max-width: 900px) {
    #about{
        margin-bottom:"-800px";
    }
  }

/* 
  .github-calendar h1{
    margin-left: 170px;
    margin-bottom: 20px;
    width: 80%;
  } */
  .github{
    width: 80%;

  }
  .calendar{
    width: 80%;
  }

  



 

 /*github */
 
 :root {
    --color-calendar-graph-day-bg: #dddbdb;
    --color-calendar-graph-day-L1-bg: #39dd34;
    --color-calendar-graph-day-L2-bg: #45a045;
    --color-calendar-graph-day-L3-bg: #047526;
    --color-calendar-graph-day-L4-bg: #0a4208;
  }
  
  rect.ContributionCalendar-day[data-level='0'] {
      fill: var(--color-calendar-graph-day-bg);
  }
  
  rect.ContributionCalendar-day[data-level='1'] {
      fill: var(--color-calendar-graph-day-L1-bg);
  }
  
  rect.ContributionCalendar-day[data-level='2'] {
      fill: var(--color-calendar-graph-day-L2-bg);
  }
  
  rect.ContributionCalendar-day[data-level='3'] {
      fill: var(--color-calendar-graph-day-L3-bg);
  }
  
  rect.ContributionCalendar-day[data-level='4'] {
      fill: var(--color-calendar-graph-day-L4-bg);
  }
  
  .calendar .width-full > .float-left {
      display: none;
  }
  
  .calendar {
      font-family: Helvetica, arial;
      border: 1px solid #DDDDDD;
      border-radius: 3px;
      min-height: 243px;
      text-align: center;
      margin: 0 auto;
  }
  
  .calendar-graph text.wday,
  .calendar-graph text.month {
      font-size: 10px;
      fill: #aaa;
  }
  
  .contrib-legend {
      text-align: right;
      padding: 0 14px 10px 0;
      display: inline-block;
      float: right;
  }
  
  .contrib-legend .legend {
      display: inline-block;
      list-style: none;
      margin: 0 5px;
      position: relative;
      bottom: -1px;
      padding: 0;
  }
  
  .contrib-legend .legend li {
      display: inline-block;
      width: 10px;
      height: 10px;
  }
  
  .text-small {
      font-size: 12px;
      color: #767676;
  }
  
  .calendar-graph {
      padding: 5px 0 0;
      text-align: center;
  }
  
  .contrib-column {
      padding: 15px 0;
      text-align: center;
      border-left: 1px solid #ddd;
      border-top: 1px solid #ddd;
      font-size: 11px;
  }
  
  .contrib-column-first {
      border-left: 0;
  }
  
  .table-column {
      display: table-cell;
      width: 1%;
      padding-right: 10px;
      padding-left: 10px;
      vertical-align: top;
  }
  
  .contrib-number {
      font-weight: 300;
      line-height: 1.3em;
      font-size: 24px;
      display: block;
      color: #333;
  }
  
  .calendar img.spinner {
      width: 70px;
      margin-top: 50px;
      min-height: 70px;
  }
  
  .monospace {
      text-align: center;
      color: #000;
      font-family: monospace;
  }
  
  .monospace a {
      color: #1D75AB;
      text-decoration: none;
  }
  
  .contrib-footer {
      font-size: 11px;
      padding: 0 10px 12px;
      text-align: left;
      width: 100%;
      box-sizing: border-box;
      height: 26px;
  }
  
  .left.text-muted {
      float: left;
      margin-left: 9px;
      color: #767676;
  }
  .left.text-muted a {
      color: #4078c0;
      text-decoration: none;
  }
  .left.text-muted a:hover,
  .monospace a:hover {
      text-decoration: underline;
  }
  
  h2.f4.text-normal.mb-3 {
      display: none;
  }
  
  .float-left.text-gray {
      float: left;
  }
  #user-activity-overview{
      display:none;
  }
  
  .day-tooltip {
      white-space: nowrap;
      position: absolute;
      z-index: 99999;
      padding: 10px;
      font-size: 12px;
      color: #959da5;
      text-align: center;
      background: rgba(0,0,0,.85);
      border-radius: 3px;
      display: none;
      pointer-events: none;
  }
  .day-tooltip strong {
      color: #dfe2e5;
  }
  .day-tooltip.is-visible {
      display: block;
  }
  .day-tooltip:after {
      position: absolute;
      bottom: -10px;
      left: 50%;
      width: 5px;
      height: 5px;
      box-sizing: border-box;
      margin: 0 0 0 -5px;
      content: " ";
      border: 5px solid transparent;
      border-top-color: rgba(0,0,0,.85)
  }
  
  text.ContributionCalendar-label {
      fill: #ccc;
      font-size: 11px;
  }
 
  